:root {
    --background-color: #1a1a1e;
    --main-width: 900px;
    font-family: monospace;
    scroll-padding-top: 83px;
    color-scheme: dark;

}

body {
    font-size: x-large;
    background-color: var(--background-color);
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

ol {
    box-sizing: border-box;
    display: inline-block;
}

.buzzer {
    background-color: lightgreen;
    border: none;
    color: white;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border: 6px solid green;
    color: black;
    font-weight: bold;
    font-size: 100%;

}

.avatar {
    height: 1.2em;
    width: 1.2em;
    margin-right: 0.1em;
    margin-bottom: 0.1em;
    vertical-align: middle;
    border-radius: 50%;
    border: 1.5px solid;
}


.username {
    display: inline-block;
}


.buzzer:hover {
    opacity: 0.9;
}

.buzzer:active {

    opacity: 0.7;
}

.contents {
    display: inline-block;
    max-width: 900px;
}

.warning {
    display: none;
    background-color: darkred;
    padding: 10px;
}

li[class="unbuzzed"] {
    font-style: italic;

    opacity: 60%;
}

li[class="unbuzzed"]::marker {
    content: "X. ";
}